<!doctype html>
<head>
    <title>ICS Search Engine</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to the ICS Search Engine</h1>
            <p>This is a a search engine created for the University of California, Irvine
                    School of Information and Computer Sciences.
            </p>
        </div>
        <div class="form-group">
            <h4>Search</h4>
            <form action="/handle-query" method="post">
                <input id="query" name="query" placeholder="Enter keywords:" required>
                <input type="submit">
            </form>
            <h4 {{hidden}} color=#808080>Search time: {{ search_time }} seconds</h4>
            <ol class="border">
                {% for url in url_list %}
                <li><a href={{ url }}>{{ url }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</body>